In [19]:
import pandas as pd ,numpy as np

In [20]:
#create database
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])
print(df)

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [21]:
df.B[df.A>4] = 0
print(df)

             A  B   C   D
2013-01-01   0  1   2   3
2013-01-02   4  5   6   7
2013-01-03   8  0  10  11
2013-01-04  12  0  14  15
2013-01-05  16  0  18  19
2013-01-06  20  0  22  23

In [59]:

filePath='model data.xlsx'
order = pd.read_excel(filePath, sheet_name='Order Information')
route = pd.read_excel(filePath, sheet_name='Route Information')
#order['Tax Percentage'][order['Journey Type'] == 'Domestic'] = 0

# order.loc['Tax Percentage',(order['Journey Type'] == 'Domestic')] = 0
order.loc[order.loc[:,'Journey Type']=='Domestic','Tax Percentage'] = 0

route['Cost'] = route[route.columns[7:12]].sum(axis=1)
route['Time'] = np.ceil(route[route.columns[14:18]].sum(axis=1) / 24)
route = route[list(route.columns[0:4]) + ['Fixed Freight Cost', 'Time', \
                                          'Cost', 'Warehouse Cost', 'Travel Mode', 'Transit Duty'] + list(
    route.columns[-9:-2])]
route = pd.melt(route, id_vars=route.columns[0:10], value_vars=route.columns[-7:] \
                , var_name='Weekday', value_name='Feasibility')
route['Weekday'] = route['Weekday'].replace({'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, \
                                             'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7})

In [23]:
order['Tax Percentage'][order['Journey Type'] == 'Domestic'] = 1
print(order['Tax Percentage'])

0    0.03
1    0.01
2    0.01
3    0.10
4    0.15
5    0.01
6    0.01
7    1.00
Name: Tax Percentage, dtype: float64

D:\application\conda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
order.loc[order.loc[:,'Journey Type']=='Domestic','Tax Percentage'] = 0
print(order['Tax Percentage'])

0    0.03
1    0.01
2    0.01
3    0.10
4    0.15
5    0.01
6    0.01
7    0.00
Name: Tax Percentage, dtype: float64

In [25]:
order.loc[:,:]

,Order Number,Ship From,Ship To,Commodity,Order Value,Weight (KG),Volume,Shipper Name,Shipper Address,Shipper Country,Consignee Country,Order Date,Required Delivery Date,Journey Type,Tax Percentage
0,1,Singapore Warehouse,Wuxi Warehouse,Honey,50000,21000,34,YCH,8 Bulim Ave,Singapore,China,2018-02-01,2018-02-25,International,0.03
1,2,Malaysia Warehouse,Shanghai Warehouse,Furniture,10000,20000,67,YCH,8 Bulim Ave,Malaysia,China,2018-02-02,2018-02-23,International,0.01
2,3,Singapore Warehouse,Shanghai Warehouse,Paper plates,12000,20000,67,YCH,8 Bulim Ave,Singapore,China,2018-02-03,2018-02-23,International,0.01
3,4,Singapore Warehouse,Shanghai Warehouse,Pharmaceutical drugs,800000,20,7,YCH,8 Bulim Ave,Singapore,China,2018-02-04,2018-02-24,International,0.10
4,5,Wuxi Warehouse,Malaysia Warehouse,Cigarette,700000,5000,50,YCH,8 Bulim Ave,China,Malaysia,2018-02-05,2018-02-22,International,0.15
5,6,Shanghai Warehouse,Singapore Warehouse,Apple,30000,25000,67,YCH,8 Bulim Ave,China,Singapore,2018-02-06,2018-02-23,International,0.01
6,7,Malaysia Warehouse,Singapore Warehouse,Durian,10000,10000,34,YCH,8 Bulim Ave,Malaysia,Singapore,2018-02-07,2018-02-24,International,0.01
7,8,Wuxi Warehouse,Shanghai Warehouse,Furniture,10000,20000,67,YCH,8 Bulim Ave,China,China,2018-02-08,2018-02-25,Domestic,0.00

In [26]:
order.loc[:,'Ship To']

0         Wuxi Warehouse
1     Shanghai Warehouse
2     Shanghai Warehouse
3     Shanghai Warehouse
4     Malaysia Warehouse
5    Singapore Warehouse
6    Singapore Warehouse
7     Shanghai Warehouse
Name: Ship To, dtype: object

In [28]:
route['Warehouse Cost']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22    20.0
23     NaN
24    20.0
25     NaN
26    20.0
27     NaN
28    10.0
29     NaN
30    10.0
31     NaN
32    10.0
33     NaN
34     8.0
35     NaN
36     8.0
37     NaN
38     8.0
39     NaN
40    15.0
41     NaN
42    15.0
43     NaN
44    15.0
45     NaN
46    20.0
47    10.0
48    15.0
49     8.0
Name: Warehouse Cost, dtype: float64

In [41]:
big = 1000

route['Warehouse Cost'].fillna(big,inplace = True)
print(route['Warehouse Cost'])

0     1000.0
1     1000.0
2     1000.0
3     1000.0
4     1000.0
5     1000.0
6     1000.0
7     1000.0
8     1000.0
9     1000.0
10    1000.0
11    1000.0
12    1000.0
13    1000.0
14    1000.0
15    1000.0
16    1000.0
17    1000.0
18    1000.0
19    1000.0
20    1000.0
21    1000.0
22      20.0
23    1000.0
24      20.0
25    1000.0
26      20.0
27    1000.0
28      10.0
29    1000.0
30      10.0
31    1000.0
32      10.0
33    1000.0
34       8.0
35    1000.0
36       8.0
37    1000.0
38       8.0
39    1000.0
40      15.0
41    1000.0
42      15.0
43    1000.0
44      15.0
45    1000.0
46      20.0
47      10.0
48      15.0
49       8.0
Name: Warehouse Cost, dtype: float64

In [34]:
route['Warehouse Cost']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22    20.0
23     NaN
24    20.0
25     NaN
26    20.0
27     NaN
28    10.0
29     NaN
30    10.0
31     NaN
32    10.0
33     NaN
34     8.0
35     NaN
36     8.0
37     NaN
38     8.0
39     NaN
40    15.0
41     NaN
42    15.0
43     NaN
44    15.0
45     NaN
46    20.0
47    10.0
48    15.0
49     8.0
Name: Warehouse Cost, dtype: float64

In [60]:
route['Feasibility']

0      1
1      1
2      0
3      0
4      0
      ..
345    1
346    1
347    1
348    1
349    1
Name: Feasibility, Length: 350, dtype: int64

In [73]:
x=route.copy()
# x.loc[x['Feasibility'== 1],:]
x = x.loc[x['Feasibility']==1]
print(x['Feasibility'])

0      1
1      1
6      1
7      1
8      1
      ..
345    1
346    1
347    1
348    1
349    1
Name: Feasibility, Length: 310, dtype: int64

In [79]:
import time

time_begin = time.time()

#code,你的程序

time_end = time.time()

time = time_end - time_begin

print('time:', time)

time: 0.0